table {
  border-collapse: collapse;
}

th {
  padding: 10px 20px;
  border-bottom: 2px solid silver;
  background-color: aqua;
}
tr {
  padding: 10px 20px;
  border-bottom: 2px solid silver;
}
.color {
  background-color: bisque;
}
.color1 {
  background-color: aquamarine;
}
.color2 {
  background-color: bisque;
}
